body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6; }

header {
  border-bottom: 4px solid #000; }
  header .site-title {
    padding-left: 2em; }

main {
  flex: 1;
  padding: 2em; }
  main #input-password {
    background-color: #ccc;
    padding: 1em; }
    main #input-password fieldset {
      border: none; }
    main #input-password label {
      padding: 0.5em;
      font-weight: bold;
      font-size: 1.75em;
      display: block;
      color: #666;
      color: rgba(0, 0, 0, 0.6);
      text-shadow: 0 1px 1px #fff; }
    main #input-password input {
      margin-top: 2.5em;
      border: 1px solid #979797;
      font-size: 1em;
      padding: 0.5em;
      background: #fff;
      width: 40%; }
      main #input-password input[type="text"] {
        width: 215px;
        padding: 5px 8px;
        font-size: 1.2em;
        font-weight: bold;
        color: #666;
        border: none;
        background-color: #fff;
        border-radius: 4px; }
        main #input-password input[type="text"]:focus {
          -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
          -webkit-animation: pulse 1.5s infinite ease-in-out; }
    main #input-password fieldset:last-child {
      width: 25%; }
    main #input-password button {
      margin-top: 2.5em;
      border: 1px solid #979797;
      font-size: 1em;
      padding: 0.5em;
      background: #fff;
      width: 40%;
      padding: 8px 15px;
      font-weight: bold;
      line-height: 1;
      color: #444;
      border: none;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
      background-color: #fff;
      border-radius: 23px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
      main #input-password button:hover, main #input-password button:focus {
        -webkit-animation: pulse 1.5s infinite ease-in-out; }
  main #output {
    color: #111;
    font-size: 1.25em; }
  main #strength {
    font-size: 1.25em; }
    main #strength #very-weak {
      color: red; }
    main #strength #weak {
      color: purple; }
    main #strength #strong {
      color: blue; }
    main #strength #very-strong {
      color: green; }

.stripes.bottom {
  padding-top: 0;
  display: block;
  width: 100%; }
  .stripes.bottom .stripe.d {
    float: left;
    background: #00ADEE;
    height: 4em;
    width: 20%; }
  .stripes.bottom .stripe.r {
    float: left;
    background: #44C7F4;
    height: 4em;
    width: 20%; }
  .stripes.bottom .stripe.u {
    float: left;
    background: #ABE0F9;
    height: 4em;
    width: 20%; }
  .stripes.bottom .stripe.m {
    float: left;
    background: #F186B6;
    height: 4em;
    width: 20%; }
  .stripes.bottom .stripe.s {
    float: left;
    background: #EB008B;
    height: 4em;
    width: 20%; }

footer {
  background-color: #D5E5F2;
  margin: 0;
  padding: 2em; }
  footer p {
    padding-left: 2em; }
    footer p a {
      color: #0F2859; }
      footer p a:hover {
        color: #5EA4BF; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.99); }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); } }
