body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
}

header {
	border-bottom: 4px solid #000;

	.site-title {
		padding-left: 2em;
	}
}

main {
	flex: 1;
	padding: 2em;

	label {
		padding: 0.5em;
	}

	input {
		border: 1px solid #979797;
		width: 50%;
	    font-size: 1em;
	    padding: 0.5em;
	    background: #fff;
	}
}

.stripes.bottom {
    padding-top: 0;
    display: block;
    width: 100%;

	.stripe.d {
		float: left;
	    background: #00ADEE;
	    height: 4em;
	    width: 20%;
	}

	.stripe.r {
		float: left;
		background: #44C7F4;
	    height: 4em;
	    width: 20%;
	}

	.stripe.u {
		float: left;
	    background: #ABE0F9;
	    height: 4em;
	    width: 20%;
	}

	.stripe.m {
		float: left;
	    background: #F186B6;
	    height: 4em;
	    width: 20%;
	}

	.stripe.s {
		float: left;
	    background: #EB008B;
	    height: 4em;
	    width: 20%;
	}
}

footer {
	background-color: #D5E5F2;
        margin: 0;
        padding: 2em;

	p {
		padding-left: 2em;

		a {
			color: #0F2859;

			&:hover {
				color: #5EA4BF;
			}
		}
	}
}
